﻿@using TaskforceGenerator.Presentation.Models.Abstractions.BuildTaskforce;
@inherits ModelComponentBase<ISelectVehiclesModel>

<div class="grow w-0 flex md:flex-row flex-col" @attributes="Attributes">
    <NumberInputGroup CanParse="CanParse"
                      Parse="Parse"
                      TNumber="UInt16"
                      TError="String"
                      Value="Model.Count"
                      class="inline-block flex-col w-full md:mr-1 md:mb-0 mr-0 mb-1 grow">
        <Error>
            <InvalidFeedback Value="@context" />
        </Error>
    </NumberInputGroup>
    <SelectInputGroup Value="Model.Vehicle"
                      TValue="IVehicle"
                      TError="String"
                      class="w-full">
        <Error>
            @if(!String.IsNullOrEmpty(context))
            {
                <div class="mt-1 text-danger">
                    @context
                </div>
            }
        </Error>
    </SelectInputGroup>
</div>

@code {
    private static Boolean CanParse(String value)
    {
        var result = UInt16.TryParse(value, out _);

        return result;
    }
    private static UInt16 Parse(String value)
    {
        var result = UInt16.Parse(value);

        return result;
    }
}