﻿@using TaskforceGenerator.Presentation.Models.Abstractions.BuildTaskforce;
@inherits ModelComponentBase<IDynamicMultiControlModel<ISelectVehiclesModel>>

<DynamicMultiControl TSubControlModel="ISelectVehiclesModel"
                     Value="Model"
                     @attributes="Attributes">
    <Item Context="item">
        <div class="mb-2">
            <DynamicMultiControlItem TSubControlModel="ISelectVehiclesModel"
                                     Value="item">
                <SubControl Context="inputModel">
                    <VehiclesInput Value="inputModel" />
                </SubControl>
            </DynamicMultiControlItem>
        </div>
    </Item>
</DynamicMultiControl>