﻿@using TaskforceGenerator.Presentation.Models.Abstractions.EnlistToEvent;
@inherits ModelComponentBase<IDisplayGroupModel>

<div class="flex flex-col" @attributes="Attributes">
    <div class="text-center text-lg capitalize">
        @Model.EventName.DisplayText
    </div>
    <div class="text-center italic">
        by @Model.OrganizerName.DisplayText
    </div>
    <div class="text-left my-2">
        at @Model.EventDate.DisplayText
    </div>
    <div class="text-justify">
        @Model.Description.DisplayText
    </div>
</div>