﻿@using TaskforceGenerator.Presentation.Models.Abstractions.EnlistToEvent;
@inherits InjectedModelComponentBase<IEnlistToEventModel>

@if (!Model.IsLoaded)
{
    <div @attributes="Attributes">
        <i class="gg-spinner-two" />
    </div>
    return;
}

<div class="flex flex-col" @attributes="Attributes">
    <DisplayGroup Value="@Model.Displays" />
    <HorizontalRule class="my-3" />
    <VehiclesMultiControl Value="@Model.OwnedVehicles"/>
    <HorizontalRule class="my-3" />
    <MultiControl Value="@Model.PreferredCareers">
        <Item>
            <SelectInput Value="context"/>
        </Item>
    </MultiControl>
    <HorizontalRule class="my-3" />
    <DynamicMultiControl Value="@Model.PreferredCrewMates">
        <Item Context="item">
            <div class="mb-2">
                <DynamicMultiControlItem Value="item">
                    <SubControl Context="inputModel">
                        <TextInput Value="inputModel" ErrorTitleParse="s => s"/>
                    </SubControl>
                </DynamicMultiControlItem>
            </div>
        </Item>
    </DynamicMultiControl>
    <HorizontalRule class="my-3" />
    <Button Value="Model.Enlist" />
</div>

@code {
    [Parameter]
    public String? EventId { get; set; }

    protected override void OnParametersSet()
    {
        _ = Model.LoadAsync(EventId, ComponentDisposalToken);
        base.OnParametersSet();
    }
}