﻿@using TaskforceGenerator.Presentation.Models.Abstractions.EnlistToEvent;
@inherits InjectedModelComponentBase<IInviteLinkInputModel>

<div @attributes="Attributes">
    <TextInputGroup Value="Model.LinkInput">
        <Error>
            <InvalidFeedback Value="@context" />
        </Error>
    </TextInputGroup>
    <HorizontalRule class="my-3" />
    <div class="p-2 text-center">
        <Display Value="Model.ParsedCode" />
    </div>
    <HorizontalRule class="my-3" />
    <Button Value="Model.Enlist" />
</div>