﻿@page "/create"

<PrimaryPageView RequiresAuthentication="true">
    <Title>
        Create Event
    </Title>
    <SubTitle>
        Create and share an event
    </SubTitle>
    <Content>
        <TaskforceGenerator.Presentation.Views.Blazor.Components.CreateEvent.CreateEvent />
    </Content>
</PrimaryPageView>
