﻿@page "/enlist"

<PrimaryPageView RequiresAuthentication="true">
    <Title>
        Enlist
    </Title>
    <SubTitle>
        Enlist to an event.
    </SubTitle>
    <Content>
        @if(EventId == null)
        {
            <TaskforceGenerator.Presentation.Views.Blazor.Components.EnlistToEvent.InviteLinkInput />
        } else
        {
            <TaskforceGenerator.Presentation.Views.Blazor.Components.EnlistToEvent.EnlistToEvent EventId="@EventId" />
        }
    </Content>
</PrimaryPageView>

@code {
    [Parameter]
    [SupplyParameterFromQuery(Name = "eventId")]
    public String? EventId { get; set; }
}