﻿@page "/"

<PrimaryPageView>
    <Title>
        Taskforce Builder
    </Title>
    <SubTitle>
        made by [krt]
    </SubTitle>
    <Content>
        <Authentication>
            <Authenticated>
                <div class="text-center">
                    Try <a class="text-[#1972e6]" href="/create">creating an event</a> or <a class="text-[#1972e6]" href="/enlist">enlisting to an event</a>.
                </div>
            </Authenticated>
            <NotAuthenticated>
                <div class="text-center">
                    To get started, <a class="text-[#1972e6]" href="/register">connect your citizen</a>.
                </div>
            </NotAuthenticated>
        </Authentication>
    </Content>
</PrimaryPageView>