﻿@page "/login"

<PrimaryPageView>
    <Title>
        <Authentication>
            <NotAuthenticated>
                Login
            </NotAuthenticated>
            <Authenticated>
                Change Citizen
            </Authenticated>
        </Authentication>
    </Title>
    <SubTitle>
        <Authentication>
            <NotAuthenticated>
                Log In As Your Citizen
            </NotAuthenticated>
            <Authenticated>
                Log In As A Different Citizen
            </Authenticated>
        </Authentication>
    </SubTitle>
    <Content>
        <TaskforceGenerator.Presentation.Views.Blazor.Components.Login.Login />
    </Content>
</PrimaryPageView>