﻿@page "/register"

<PrimaryPageView>
    <Title>
        <Authentication>
            <NotAuthenticated>
                Register
            </NotAuthenticated>
            <Authenticated>
                Set Password
            </Authenticated>
        </Authentication>
    </Title>
    <SubTitle>
        Register Your Citizen Or Set Their Password
    </SubTitle>
    <Content>
        <TaskforceGenerator.Presentation.Views.Blazor.Components.ConnectCitizen.ConnectCitizen />
    </Content>
</PrimaryPageView>