﻿@using TaskforceGenerator.Presentation.Models.Abstractions.ConnectCitizen;
@using TaskforceGenerator.Presentation.Views.Blazor.Components
@inherits InjectedModelComponentBase<IInputGroupModel>

<div @attributes="Attributes">
    <TextInputGroup Value="Model.Name" class="mb-3">
        <Error>
            <InvalidFeedback Value="@context" />
        </Error>
    </TextInputGroup>
    <PasswordInputGroup Value="Model.Password">
        <Error Context="error">
            <PasswordValidityView Value="error" />
        </Error>
    </PasswordInputGroup>
</div>
