﻿@using TaskforceGenerator.Presentation.Models.Abstractions.ConnectCitizen;
@inherits InjectedModelComponentBase<IConnectCitizenModel>

<div @attributes="Attributes">
    <TextInputGroup Value="Model.Inputs.Name" class="mb-3">
        <Error>
            <InvalidFeedback Value="@context" />
        </Error>
    </TextInputGroup>
    <HorizontalRule class="my-3"/>
    <PasswordInputGroup Value="Model.Inputs.Password">
        <Error Context="error">
            <PasswordValidityView Value="error" />
        </Error>
    </PasswordInputGroup>
    <HorizontalRule class="my-3"/>
    <Code Value="Model.Code" class="mb-3 d-flex flex-column" />
    <ButtonGroup Value="Model.Buttons" />
</div>
