﻿@using TaskforceGenerator.Presentation.Models.Abstractions.CreateEvent;
@inherits InjectedModelComponentBase<ICreateEventModel>

<div class="flex flex-col" @attributes="Attributes">
    @if(!String.IsNullOrEmpty(Model.InviteCode.Value))
    {
        <div>
            <a class="text-krtPrimary cursor-pointer hover:underline" href="@Model.InviteCode.DisplayText">
                Invite Link
            </a>&nbsp;
            <Display Value="Model.InviteCode" />
        </div>
    } else
    {
        <CreateEventInputGroup class="w-full" Value="Model.Inputs" />
        <HorizontalRule class="my-3 w-full" />
        <Button Value="Model.Create" />
    }
</div>



