﻿@page "/enlist"

<PageTitle>Enlist</PageTitle>

<PrimaryPageView>
    <Title>
        Enlist
    </Title>
    <Content>
        <TaskforceGenerator.Presentation.Views.Blazor.Components.EnlistToEvent.EnlistToEvent />
    </Content>
</PrimaryPageView>
