﻿@page "/login"

<PageTitle>Login</PageTitle>

<PrimaryPageView>
    <Title>
        Login
    </Title>
    <SubTitle>
        Authenticate As Your Citizen
    </SubTitle>
    <Content>
        <TaskforceGenerator.Presentation.Views.Blazor.Components.Login.Login />
    </Content>
</PrimaryPageView>