﻿@page "/register"

<PageTitle>Register / Set Password</PageTitle>

<PrimaryPageView>
    <Title>
        <span>Register <span style="font-family:'Times New Roman', Times, serif">/</span> Set Password</span>
    </Title>
    <SubTitle>
        Register Your Citizen Or Set Their Password
    </SubTitle>
    <Content>
        <TaskforceGenerator.Presentation.Views.Blazor.Components.ConnectCitizen.ConnectCitizen />
    </Content>
</PrimaryPageView>