﻿@using TaskforceGenerator.Presentation.Models.Abstractions.ConnectCitizen;
@inherits ModelComponentBase<IButtonGroupModel>


<div class="inline" @attributes="Attributes">
    <div class="grid grid-cols-1 gap-y-2">
        <Button Value="Model.GenerateBioCode" />
        <Button Value="Model.ConnectCitizen" />
    </div>
    <div class="flex">
        <div class="grow w-0">
            In order to connect your citizen, the code you generated needs to be posted to the RSI bio of your citizen. That way, you can be authenticated as the owner of this citizen.
            You may also reset the password associated to the citizen at any time.
        </div>
    </div>
</div>
