﻿@using TaskforceGenerator.Presentation.Models.Abstractions.ConnectCitizen;
@using TaskforceGenerator.Presentation.Views.Blazor.Components
@inherits ModelComponentBase<ICodeModel>

<div @attributes="Attributes">
    @if(!Model.Value.IsDefaultOrEmpty())
    {
        <div class="mb-3">
            <span>In order to get verified, post this code in your citizens bio: <em>@(Model.Value) <ClipboardWrite Value="@Model.Value" /></em></span>
        </div>
        <HorizontalRule class="my-3" />
    }
    @if(!String.IsNullOrEmpty(Model.CodeError))
    {
        <InvalidFeedback Value="@Model.CodeError" />
        <HorizontalRule class="my-3" />
    }
</div>