@inherits ModelComponentBase<IButtonModel>
@if(Model.Disabled)
{
    <button class="button" @attributes="@Attributes" disabled>
        @if(Model.Loading)
        {
            <i class="gg-spinner-two"></i>
        } else
        {
            <span class="h-min">
                @Model.Label
            </span>
        }
    </button>
} else
{
    <button class="button" @attributes="@Attributes" @onclick="Model.Click">
        @if(Model.Loading)
        {
            <i class="gg-spinner-two"></i>
        } else
        {
            <span class="h-min">
                @Model.Label
            </span>
        }
    </button>
}
