﻿@inherits ModelComponentBase<IDynamicMultiControlModel<TSubControlModel>>
@typeparam TSubControlModel

<div @attributes="Attributes">
    @Label(Model.Label)
    <Virtualize Items="Model.Items">
        @Item(context)
    </Virtualize>
    @AddButton(Model.Add)
    @Description(Model.Description)
</div>

@code {
#nullable disable
    [Parameter]
    [Required]
    public RenderFragment<String> Label { get; set; } = DefaultLabel;
    [Parameter]
    [Required]
    public RenderFragment<String> Description { get; set; } = DefaultDescription;
    [Parameter]
    [Required]
    public RenderFragment<IDynamicMultiControlItemModel<TSubControlModel>> Item { get; set; }
    [Parameter]
    [Required]
    public RenderFragment<IButtonModel> AddButton { get; set; } = DefaultAddButton;
}