﻿@inherits ModelComponentBase<IDynamicMultiControlItemModel<TSubControlModel>>
@typeparam TSubControlModel

<div class="flex flex-row" @attributes="Attributes">
	@RemoveButton(Model.Remove)
	@SubControl(Model.Control)
</div>

@code {
#nullable disable
	[Parameter]
	[Required]
	public RenderFragment<TSubControlModel> SubControl { get; set; }
	[Parameter]
	[Required]
	public RenderFragment<IButtonModel> RemoveButton { get; set; } = DefaultRemoveButton;
}
