﻿@typeparam TSubControlModel
@inherits ModelComponentBase<IMultiControlModel<TSubControlModel>>

<div @attributes="Attributes">
	<Virtualize Items="@Model.Items">
		@SubControl(context)
	</Virtualize>
</div>

@code {
#nullable disable
	[Parameter]
	[Required]
	public RenderFragment<TSubControlModel> SubControl { get; set; }
}