﻿@typeparam TNumber
@typeparam TError
@inherits ModelComponentBase<IInputGroupModel<TNumber, TError>>

<InputGroup @attributes="Attributes"
            TValue="TNumber"
            TError="TError"
            Value="Model">
    <Input>
    <NumberInput Value="Model.Input"
            UpdateOnFocusLost="UpdateOnFocusLost"
            ErrorTitleParse="ErrorTitleParse"
            Parse="Parse"
            CanParse="CanParse"
            TNumber="TNumber"
            TError="TError" 
            class="w-full h-full"/>
    </Input>
    <Error>
        @Error(Model.Input.Error)
    </Error>
</InputGroup>

@code {
#nullable disable
    [Parameter]
    public Func<String, Boolean> CanParse { get; set; }
    [Parameter]
    public Func<String, TNumber> Parse { get; set; }
    [Parameter]
    [Required]
    public RenderFragment<TError> Error { get; set; }
    [Parameter]
    public Boolean UpdateOnFocusLost { get; set; }
    [Parameter]
    public Func<TError, String> ErrorTitleParse { get; set; }
}