﻿@typeparam TValue
@typeparam TError
@inherits ModelComponentBase<ISelectInputGroupModel<TValue, TError>>

<InputGroupSpecialized @attributes="Attributes"
                       TValue="IOptionModel<TValue>"
                       TError="TError"
                       TInput="ISelectInputModel<TValue, TError>"
                       Value="Model">
    <Input>
    <SelectInput class="w-full h-full"
                 Value="Model.Input"
                 TError="TError"
                 TValue="TValue" />
    </Input>
    <Error>
        @Error(Model.Input.Error)
    </Error>
</InputGroupSpecialized>

@code {
#nullable disable
    [Parameter]
    [Required]
    public RenderFragment<TError> Error { get; set; }
}