@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .input-control {
        @apply border-r-krtPrimary border-r-[2px] border-l-krtPrimary border-l-[2px] text-center flex px-4 py-2 bg-dark/75;
    }

        .input-control.invalid {
            @apply border-r-alert border-l-alert;
        }

        .input-control.valid {
            @apply border-r-ok border-l-ok;
        }

    .select-input {
        @apply p-2 bg-dark border-l-[2px] border-r-[2px] border-l-krtPrimary border-r-krtPrimary;
    }

    .input-group-description {
        @apply bg-krtDark text-center font-mono text-krtBlack;
    }

    .bordered {
        @apply border p-4 border-krtWhite/50 rounded-md;
    }

    .button:enabled {
        @apply text-krtWhite border-krtPrimary cursor-pointer hover:bg-gradient-to-r hover:from-krtPrimary/75 hover:to-krtPrimary/20 active:to-krtPrimary/75;
    }

    .button {
        @apply text-krtGrey2 border-r-2 w-full h-full bg-krtPrimary/20 flex flex-row items-center justify-center border-l-2 border-krtPrimary/50 px-4 py-2 cursor-default;
    }
}
