﻿@using TaskforceGenerator.Domain.Core.Abstractions;
@inherits ModelComponentBase<ICrewedVehicle>

<div class="flex flex-col" @attributes="Attributes">
    <div class="text-krtWhite font-light text-2xl mb-2 text-center">
        @Model.Name
    </div>
    <div class="flex flex-col">
        @foreach(var slot in Model.OccupiedSlots)
        {
            <div class="my-1">
                <OccupiedSlotView Value="slot" @key="slot" />
                </div>
        }
    </div>
</div>
