@inherits ComponentBase

<div class="w-full" @attributes="Attributes">
    <div class="flex flex-row items-center">
        <div class="inline-block h-[5px] w-[5px] bg-krtWhite/75"></div>
        <div class="inline-block h-[1px] w-full bg-krtWhite/50"></div>
        <div class="inline-block h-[5px] w-[5px] bg-krtWhite/75"></div>
    </div>
</div>
