﻿@using Microsoft.AspNetCore.Components.Routing;
@inherits LayoutComponentBase

<div class="h-screen w-screen bg-dark flex flex-col pb-5">
    <TopBar />
    <div class="mb-5"></div>
    <div class="w-full flex flex-row py-5 justify-center overflow-auto">
        <div class="mr-5"></div>
        <div class="w-full md:w-5/6 lg:w-4/6 xl:w-3/6 xxl:w-2/6 duration-300 text-krtWhite">
            @Body
        </div>
        <div class="ml-5"></div>
    </div>
</div>