﻿@inherits ModelComponentBase<TaskforceGenerator.Domain.Authentication.PasswordValidity>

<div class="flex flex-col">
    @foreach(var feedback in Feedbacks)
    {
        <InvalidFeedback Value="@feedback" />
    }
</div>

@code {
    private IEnumerable<String> Feedbacks => Model.RulesViolated.Select(r => $"{r.Name}: {r.Description}");
}