﻿@inherits ComponentBase

@if(RequiresAuthentication)
{
    <Authentication>
        <NotAuthenticated>
            <Navigate Route="/" />
        </NotAuthenticated>
    </Authentication>
}

<PageTitle>@Title</PageTitle>

<div class="w-100" @attributes="Attributes">
    <div class="w-100 flex justify-center">
        <div class="grow flex flex-col">
            <div class="inline-block mb-3">
                <div class="flex">
                    <span class="font-light text-6xl text-center grow w-0 align-top uppercase">
                        @Title
                    </span>
                </div>
                @if(SubTitle != null)
                {
                    <div class="flex mt-1">
                        <span class="text-krtBlack px-2 bg-krtPrimary font-mono text-center grow w-0 capitalize">
                            @SubTitle
                        </span>
                    </div>
                }
            </div>
            <div class="grow bordered">
                @Content
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public required RenderFragment Title { get; set; }
    [Parameter]
    public RenderFragment? SubTitle { get; set; }
    [Parameter]
    public required RenderFragment Content { get; set; }
    [Parameter]
    public Boolean RequiresAuthentication { get; set; }
}