@using TaskforceGenerator.Domain.Core.Abstractions;
@inherits ModelComponentBase<ITaskforce>

@if (Model == null || Model.Vehicles.Count == 0)
{
	return;
}

<div class="flex flex-col bordered" @attributes="Attributes">
	@foreach (var vehicle in CrewedVehicles)
	{
		<div class="px-3">
			<CrewedVehicleView Value="vehicle" @key="vehicle" />
		</div>
		<HorizontalRule class="my-2" />
	}
</div>

@code {
	protected override Boolean ModelIsRequired() => false;

	private IEnumerable<ICrewedVehicle> CrewedVehicles => Model.Vehicles.Where(v => v.OccupiedSlots.Count > 0);
}