﻿@inherits InjectedModelComponentBase<IToastsModel>
<div class="py-2 toasts-frame">
    <div class="px-2">
        <b>Notifications</b>
    </div>
    <div class="toasts-container">
        <Virtualize TItem="IToastModel"
                    Items="_toasts"
                    Context="toast">
            <Toast Value="toast" />
        </Virtualize>
    </div>
</div>
@code {
#pragma warning disable CS8618
    private ICollection<IToastModel> _toasts;
#pragma warning restore CS8618

    protected override void OnParametersSet()
    {
        _toasts = Model.GetToasts();
        Model.ToastsChanged += OnToastsChanged;
    }

    private void OnToastsChanged(Object? sender, ToastChangedEventArgs eventArgs)
    {
        var (type, toastAffected) = eventArgs;
        if(type == ToastsChangedType.Added)
        {
            _toasts.Add(toastAffected);
        } else if(type == ToastsChangedType.Removed)
        {
            _toasts.Remove(toastAffected);
        }
        InvokeAsync(StateHasChanged);
    }
}