﻿@using Microsoft.AspNetCore.Components.Routing
@inherits ComponentBase

<div @attributes="Attributes">
    <Authentication>
        <Authenticated>
            <div class="topbar-item inline hover:bg-dark text-krtPrimary">
                <UserContextCitizenView />
            </div>
            <NavLink class="topbar-item" href="/create" Match="NavLinkMatch.All">
                Create Event
            </NavLink>
            <NavLink class="topbar-item" href="/enlist" Match="NavLinkMatch.All">
                Enlist
            </NavLink>
            <NavLink class="topbar-item" href="/login" Match="NavLinkMatch.All">
                Change Citizen
            </NavLink>
            <NavLink class="topbar-item" href="/register" Match="NavLinkMatch.All">
                Set Password
            </NavLink>
        </Authenticated>
        <NotAuthenticated>
            <NavLink class="topbar-item" href="/login" Match="NavLinkMatch.All">
                Login
            </NavLink>
            <NavLink class="topbar-item" href="/register" Match="NavLinkMatch.All">
                Register
            </NavLink>
        </NotAuthenticated>
    </Authentication>
</div>