﻿@inherits ComponentBase

<img src="images/burger-button.svg"
     height="32px"
     width="32px"
     class="topbar-burger @TransformClass"
@attributes="Attributes" 
@onclick="Click">
</img>

@code {
    /// <summary>
    /// Gets or sets a value indicating whether the menu is expanded.
    /// </summary>
    [Parameter]
    public Boolean Value { get; set; }
    [Parameter]
    public EventCallback<Boolean> ValueChanged { get; set; }

    private String TransformClass => Value ? "-rotate-90" : "rotate-0";

    private Task Click()
    {
        Value = !Value;
        return ValueChanged.InvokeAsync(Value);
    }
}
