﻿@using Microsoft.AspNetCore.Components.Routing

<div class="top-bar">
    <div class="flex justify-end">
        <TopBarBurger @bind-value="@Expanded" />
    </div>
    <TopBarItems class="@HiddenClass" @onclick="()=>Expanded = false" />
</div>

@code {
    private Boolean Expanded { get; set; } = false;
    private String HiddenClass => Expanded ?
    "justify-end flex flex-col sm:flex-row block" :
    "justify-end flex flex-col sm:flex-row hidden sm:block";
}