﻿@typeparam TError
@inherits ModelComponentBase<IInputGroupModel<DateTime, TError>>

<InputGroup @attributes="Attributes"
            TValue="DateTime"
            TError="TError"
            Value="Model">
    <Input>
    <DateInput class="w-full h-full"
               Value="Model.Input"
               UpdateOnFocusLost="UpdateOnFocusLost"
               ErrorTitleParse="ErrorTitleParse"
               TError="TError" />
    </Input>
    <Error>
        @Error(Model.Input.Error)
    </Error>
</InputGroup>

@code {
    [Parameter]
    public required RenderFragment<TError> Error { get; set; }
    [Parameter]
    public Boolean UpdateOnFocusLost { get; set; }
    [Parameter]
    public required Func<TError, String> ErrorTitleParse { get; set; }
}