﻿@inherits ModelComponentBase<IDynamicMultiControlItemModel<TSubControlModel>>
@typeparam TSubControlModel

<div class="flex flex-row" @attributes="Attributes">
	@RemoveButton(Model.Remove)
	@SubControl(Model.Control)
</div>

@code {
    [Parameter]
    public required RenderFragment<TSubControlModel> SubControl { get; set; }
	[Parameter]
	public required RenderFragment<IButtonModel> RemoveButton { get; set; } = DefaultRemoveButton;
}
