﻿@typeparam TError
@inherits ModelComponentBase<IInputGroupModel<String, TError>>

<InputGroup @attributes="Attributes"
            TValue="String"
            TError="TError"
            Value="Model">
    <Input>
    <TextInput class="w-full h-full"
            Value="Model.Input"
          UpdateOnFocusLost="UpdateOnFocusLost"
          ErrorTitleParse="ErrorTitleParse"
          TError="TError" />
    </Input>
    <Error>
        @Error(Model.Input.Error)
    </Error>
</InputGroup>

@code {
    [Parameter]
    public required RenderFragment<TError> Error { get; set; }
    [Parameter]
    public Boolean UpdateOnFocusLost { get; set; }
    [Parameter]
    public Func<TError, String>? ErrorTitleParse { get; set; }
}