﻿@using Microsoft.AspNetCore.Components.Routing;
@inherits LayoutComponentBase


<div class="h-screen w-screen bg-dark flex flex-col">
    <TopBar />
    <div class="h-full p-5 w-full overflow-auto text-krtWhite">
        @Body
    </div>
</div>