﻿@inherits ModelComponentBase<IOccupiedSlot>

<div class="flex flex-row">
    <span class="bg-krtPrimary text-krtBlack font-mono px-2 py-1">@Model.Occupant.CitizenName</span>
    <span class="mx-2">-></span>
    <span class="bg-krtPrimary text-krtBlack forn-mono px-2 py-1">@Model.Name</span>
</div>