﻿@inherits ModelComponentBase<TaskforceGenerator.Domain.Authentication.PasswordValidity>

<div class="flex flex-col">
    @foreach(var rule in Model.RulesViolated)
    {
        <InvalidFeedback Value="" />
    }
</div>

@code{
    private IEnumerable<String> _violatedRules;

    
}
