﻿@inherits ComponentBase

<div @attributes="Attributes">
    <div class="flex justify-center">
        <div class="flex flex-col">
            <div class="inline-block mb-3">
                <div class="flex">
                    <span class="font-light text-6xl text-center grow w-0 align-top uppercase">
                        @Title
                    </span>
                </div>
                @if(SubTitle != null)
                {
                    <div class="flex mt-1">
                        <span class="text-krtBlack py-2 bg-krtPrimary font-mono text-center grow w-0 capitalize">
                            @SubTitle
                        </span>
                    </div>
                }
            </div>
            <div class="bordered">
                @Content
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    [Required]
    public RenderFragment Title { get; set; }
    [Parameter]
    public RenderFragment SubTitle { get; set; }
    [Parameter]
    [Required]
    public RenderFragment Content { get; set; }
}