﻿@inherits ModelComponentBase<IToastModel>

<div class="toast @_showClass" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
        <strong class="me-auto @_headerClass">@Model.Header</strong>
        <small>
            <Age Origin="Model.CreatedAt" />
        </small>
        @{
            /*
            TODO: resolve funky toast close behavior, eg. multiple toasts closing at once
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close" @onclick="Model.Expire"></button>
            */
        }
    </div>
    <div class="toast-body">
        @Model.Body
    </div>
</div>

@code {
    private String _headerClass=String.Empty;
    private String _showClass = "show";

    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        Model.HasExpired += (s, e) =>
        {
            _showClass = String.Empty;
            InvokeAsync(StateHasChanged);
        };

        _headerClass = Model.Type switch
        {
            ToastType.Error => "text-danger",
            ToastType.Warning => "text-warning",
            _ => "text-info"
        };
    }
}