﻿@using Microsoft.AspNetCore.Components.Routing
<div class="p-3 bg-krtPrimary text-black inline-grid grid-cols-2">
    <div class="flex flex-row">
        <NavLink Match="NavLinkMatch.All" href="/create">
            Create Event
        </NavLink>
    </div>
    <TopBarAuthInfo class="justify-self-end" />
</div>