﻿@inherits ComponentBase

<div @attributes="Attributes">
    <UserContextCitizenView class="my-3" />
    <a href="/login" class="mr-2">
        Login
    </a>
    <a href="/register">
        Register / Set Password
    </a>
</div>

@code {
    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        EnsureClassAttribute("flex", "flex-row");
    }
}