﻿@using TaskforceGenerator.Presentation.Models.Abstractions.Login;
@inherits InjectedModelComponentBase<ILoginModel>

<div @attributes="Attributes">
    <TextInputGroup Value="Model.Inputs.Name"
                    class="inline-block flex-col w-full mb-3 grow"
                    ErrorTitleParse="e=>e">
        <Error>
            <InvalidFeedback Value="@context" />
        </Error>
    </TextInputGroup>
    <HorizontalRule class="my-3" />
    <PasswordInputGroup Value="Model.Inputs.Password"
                        class="inline-block flex-col w-full mb-3 grow"
                        ErrorTitleParse="e=>e">
        <Error>
            <InvalidFeedback Value="@context" />
        </Error>
    </PasswordInputGroup>
    <HorizontalRule class="my-3" />
    <Button Value="Model.Login" />
</div>
