﻿@using TaskforceGenerator.Presentation.Models.Abstractions.BuildTaskforce;
@inherits InjectedModelComponentBase<IBuildTaskforceModel>

<div @attributes="Attributes">
    <div class="flex justify-center">
        <div class="flex flex-col">
            <div class="inline-block mb-3">
                <div class="flex">
                    <span class="font-light text-6xl text-center grow w-0">BUILD TASKFORCE</span>
                </div>
                <div class="flex mt-1">
                    <span class="text-krtBlack bg-krtPrimary font-mono text-center grow w-0">MADE BY [KRT]</span>
                </div>
            </div>
            <div class="flex md:flex-row flex-col">
                <div class="flex flex-col bordered">
                    <MembersMultiControl Value="Model.Inputs.Occupants"
                                         class="inline-flex flex-col" />
                    <HorizontalRule class="my-3 w-full" />
                    <VehiclesMultiControl Value="Model.Inputs.Vehicles"
                                          class="inline-flex flex-col" />
                    <HorizontalRule class="my-3 w-full" />
                    <SchemeInput Value="Model.Inputs.Scheme" />
                    <HorizontalRule class="my-3 w-full" />
                    <Button Value="Model.Build" />
                    @if(!String.IsNullOrEmpty(Model.BuildError))
                    {
                        <span class="mt-1 text-krtBlack bg-alert font-mono text-center">@Model.BuildError</span>
                    }
                </div>
                <div class="mt-3 md:ml-3 md:mt-0 flex justify-center">
                    <TaskforceView Value="Model.Taskforce" />
                </div>
            </div>
        </div>
    </div>
</div>
