﻿@inherits ComponentBase
@using Microsoft.AspNetCore.Components.Routing
@using System.Reflection;

<Router AppAssembly="AppAssembly"
		AdditionalAssemblies="new []{typeof(Pages.CreateEvent).Assembly}">
	<Found>
		<RouteView RouteData="context" DefaultLayout="typeof(Layout)" />
		<FocusOnNavigate RouteData="context" Selector="h1" />
	</Found>
	<NotFound>
		<PageTitle>Not found</PageTitle>
		<LayoutView Layout="typeof(Layout)">
			<p role="alert">Sorry, there's nothing at this address.</p>
		</LayoutView>
	</NotFound>
</Router>

@code {
	[Parameter]
	public required Assembly AppAssembly { get; set; }
}