﻿@using TaskforceGenerator.Presentation.Models.Abstractions.CreateEvent;
@inherits InjectedModelComponentBase<ICreateEventModel>

<div @attributes="Attributes">
    <div class="flex justify-center">
        <div class="flex flex-col">
            <div class="inline-block mb-3">
                <div class="flex">
                    <span class="font-light text-6xl text-center grow w-0">Create Event</span>
                </div>
                <div class="flex mt-1">
                    <span class="text-krtBlack bg-krtPrimary font-mono text-center grow w-0">MADE BY [KRT]</span>
                </div>
            </div>
            <div class="flex flex-col bordered">
                @if(Model.InviteLink != null)
                {
                    <div>
                        Invite Link: @Model.InviteLink <ClipboardWrite Value="@Model.InviteLink" />
                    </div>
                } else
                {
                    <CreateEventInputGroup class="w-full" Value="Model.Inputs" />
                    <HorizontalRule class="my-3 w-full" />
                    <Button Value="Model.Create" />
                }
            </div>
        </div>
    </div>
</div>



