﻿@using TaskforceGenerator.Presentation.Models.Abstractions.CreateEvent;
@inherits ModelComponentBase<ICreateEventInputGroupModel>

<div @attributes="Attributes">
    <TextInputGroup Value="Model.EventName"
                    class="inline-block flex-col w-full md:mr-1 md:mb-0 mr-0 mb-1 grow"
                    ErrorTitleParse="e=>e">
        <Error />
    </TextInputGroup>
    <HorizontalRule class="my-3 w-full" />
    <TextInputGroup Value="Model.EventDescription"
                    class="inline-block flex-col w-full md:mr-1 md:mb-0 mr-0 mb-1 grow"
                    ErrorTitleParse="e=>e">
        <Error />
    </TextInputGroup>
    <HorizontalRule class="my-3 w-full" />
    <DateInputGroup Value="Model.EventDate"
                    class="inline-block flex-col w-full md:mr-1 md:mb-0 mr-0 mb-1 grow"
                    ErrorTitleParse="e=>e">
        <Error />
    </DateInputGroup>
    <HorizontalRule class="my-3 w-full" />
    <VehiclesMultiControl class="flex flex-col" Value="Model.PlannedVehicles" />
</div>
