﻿@using TaskforceGenerator.Presentation.Models.Abstractions.BuildTaskforce;

@inherits ModelComponentBase<IDynamicMultiControlModel<IOccupantModel>>

<DynamicMultiControl TSubControlModel="IOccupantModel"
                     Value="Model"
@attributes="Attributes">
    <Item Context="item">
        <div class="mb-2">
            <DynamicMultiControlItem TSubControlModel="IOccupantModel"
                                     Value="item">
                <SubControl Context="inputModel">
                    <MemberInput Value="inputModel" />
                </SubControl>
            </DynamicMultiControlItem>
        </div>
    </Item>
</DynamicMultiControl>