﻿@using TaskforceGenerator.Presentation.Models.Abstractions.BuildTaskforce;
@using TaskforceGenerator.Domain.Core.Abstractions;
@inherits ModelComponentBase<IOccupantModel>

<div class="grow w-0 flex md:flex-row flex-col" @attributes="Attributes">
	<TextInputGroup
		Value="Model.CitizenName"
		class="inline-block flex-col w-full md:mr-1 md:mb-0 mr-0 mb-1 grow"
		ErrorTitleParse="e=>e">
		<Error />
	</TextInputGroup>
	<SelectInputGroup
		Value="Model.SlotPreference"
		TValue="ISlotPreference"
		TError="String"
		class="w-full">
		<Error>
			@if (!String.IsNullOrEmpty(context))
			{
				<div class="mt-1 text-alert">@context</div>
			}
		</Error>
	</SelectInputGroup>
</div>
