﻿@inherits ModelComponentBase<ISelectInputGroupModel<String, String>>

<div @attributes="Attributes">
    <SelectInputGroup Value="Model">
        <Error>
            <InvalidFeedback Value="@context" />
        </Error>
    </SelectInputGroup>
</div>